html,body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:100%;
}
body {
    line-height: 1.42857143;
    color:#030303;
    margin: 0;
    display: block;
    background-color: rgb(245, 245, 245);
    position: relative;

}

h1,h2,h3 {
    font-family: 微软雅黑, Monaco, "Courier New", Courier, monospace;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    display: block;
}

div {
    display: block;
    white-space:nowrap;
}
ul {
    display: block;
}
form {
    display: block;
    margin-top: 0;
}

li {
    list-style: none;
    display: list-item;

}

span {
    word-break: normal;
    width:auto;
    display: block;
    overflow: visible;
}

a {
    text-decoration: none;
}

a :hover{
    color: rgb(83,140,193);
}

#allcontent {
    /*position: absolute;*/
    top:0;
    width: 100%;
    margin: 0 auto;
}

/*   header   */
.header {
    background-color: #004da1;
    height:110px;
    margin-bottom: 30px;
}

.header h1 {
    margin: 0;
}


#labinfo {
    float: right;
    position: absolute;
    right: 40px;
    top: 60px;
    font-size: 1em;
    text-align: center;
    vertical-align: middle;
}

.infolist {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;

}

#labinfo li {
    text-decoration: none;
    color: white;
    float: right;
    margin: 0 35px;
}

#labinfo a {
    text-decoration: none;
    color: white;
}

#labinfo a:hover {
    color: #00c78A;
}

.clear {
    clear:both;
}

.split{
    margin-top: 10px;
    height: 2px;
    border-top: 1px solid #ddd;
    text-align: center;
}
.split span{
    position: relative;
    top: -8px;
    background: #fff;
    padding: 0 20px;
}

#toTop {
    display: none;
    width: 30px;
    height: 30px;
    background-image: url(/images/top.gif);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    bottom: 125px;
    right: 50px;
    position: fixed;
    z-index: 10001;
}

/*   footer   */
.footer{
    width:100%;
    bottom: -100px;
    /*background:#004da1;*/
    background: rgb(111,165,211);
    height: 100px;
    text-align: center;
    position: absolute;
    display: block;
}
.footer div {
    margin: 0 auto;
    padding: 3px 0;
}

.footer p{
    color:#fff;
    font-size: 0.85em;
    margin: 0 auto;
}

.footer ul{
    text-align: center;
    padding-left: 0;
}

ul#footer-links{
    list-style: none;
}

ul#footer-links li{
    display: inline-block;
}

ul#footer-links li a{
    color: #fff;
    font-size: 13px;
    margin:0 5px;
    text-decoration: none;
}
ul#footer-links li a:hover{
    text-decoration: none;
    color: darkred;
}

#link_holder{
    /*padding-top: 10px;*/
}



/*siip.html*/
#siipback {
    /*display: block;*/
    top: 0;
    position: relative;
    background: url(/images/background5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content_siip {
    display: block;
    margin: 0 auto;
    background: #FFFFFF;
    width: 1300px;
}
.content_siip h2{
    text-align: center;
}

.content_siip div {

}

#siipheader {
    position: fixed;
    width: 1300px;
    top: 0;
    height: 100px;
    background: rgba(0,0,0,0.3);
    z-index: 10003;
}


#siiptop1 {
    height: 80px;
    margin: 0 auto;
    position: fixed;
    width: inherit;
    display: block;
    top: 20px;

}

#siiptop1 div {
    display: inline-block;
}

#siiptop2 {
    height: 80px;
    margin: 0 auto;
    position: fixed;
    width: inherit;
    top: 0;
    display: none;
    background: white;
    border-bottom: solid 2px rgb(241,241,241);

}

#siiptop2 div {
    display: inline-block;
}

.siiplogo h1{
    margin: 0 0 0 30px;
    display: block;
    padding: 0;
    font-size: 1.6em;
    width: 28px;
    color: white;

}

.siiptopnav {
    text-align: center;
    font-size: 1.1em;
    font-weight: 200;
    margin-left: 170px;
}


.siiptopnav li{
    display: inline-block;
    margin: 0 30px;
}

.siiptopnav a {
    color: white;
    text-decoration: none;
}

.siiptopnavlist a {
    padding: 3px 8px 3px 8px;
    border: solid 1px rgba(0,0,0,0);
    border-radius: 4px;
}

.siiptopnavlist2 a:hover {
    border: solid 1px black;
}

.siiptopnavlist1 a:hover {
    border: solid 1px white;
}


.title {
    margin: 30px auto;
    margin-bottom: 100px;
    width:332px;
    height: 71px;
    opacity: 0.9;
    background: url(/images/title.png);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.title h2 {
    margin: 0 auto;
    padding-top: 20px;
}

#siipnav {
    display: none;
    text-align: center;
    width: 120px;
    height: 150px;
    bottom: 175px;
    right: 30px;
    position: fixed;
    z-index: 10001;
}

#siipnav li {
    padding: 2px;
    background: rgba(11,11,11,0.7);
    /*border: solid 1px white;*/
}

#siipnav li:hover{
    padding: 2px;
    background: rgba(41,41,41,0.7);
    border: solid 1px white;
}

#siipnav a {
    text-decoration: none;
    color: white;
}


#home {
    /*height: 800px;*/
    background: url(/images/home.jpg);
    width:100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.description {
    text-align: center;
    font-size: 1.8em;
    margin: 0 auto;
    position: relative;
    top: 250px;
    width: 900px;
    color: white;
    background: rgba(0,0,0,0.2);
    padding: 20px;
}


#slogan {
    margin: 0;
}

.line {
    width: 700px;
    margin: 10px auto 0 auto;
    position: relative;
    border-bottom: solid 2px white;
}

#slogan_en {
    font-size: 0.6em;
    font-weight: 400;

}



#team {
    margin: 40px auto;
    display: block;
    height: 1600px;
}

#team h2 {
    margin-bottom: 100px;
}

#team ul{
    padding: 0;
    margin: 30px auto;
    display: block;
    height: 320px;
    text-align: center;
}

.imgholder {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 0 40px;
}

.imgholder p {
    margin: 50px auto;
    padding: 5px 0;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
}

.imgholder a {
    color: black;
}



.rotate {
    width: 180px;
    height: 180px;
    /*transform: rotate(45deg);*/
    /*background: rgb(240,233,210);*/
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
}


.labmember {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}

#wsn {
    transform: scale(1.3);
}

#zyf {
    margin-top: 35px;
    transform: scale(1.3);
}

#work {
    margin: 0 160px;
    height: 1800px;
    white-space: normal;
}

#worklist {
    margin: 0 auto;
}

.workitem {
    margin: 120px auto;
}

.workitem p {
    position: absolute;
    width: 400px;
    margin-top: 40px;
    /*clear: right;*/
    /*height: 400px;*/
}


.workitem img {
    position: absolute;
    left: 750px;
    /*width: 500px;/*/
    /*float: right;*/
    /*right: 20px;*/
}

#distributed {
    height: 300px;
}

#hash {
    height: 400px;
}

#hash img {
    width: 500px;
}

#encrypt {
    height: 300px;
}

#encrypt img {
    width: 550px;
}

#funding p {
    width: 800px;
}

.siiptitle {
    display: inline-block;
    position: absolute;
    left:50px;
    top:16px;

}